.newsletter {
  @include flexbox();
  margin-top: 22px;
  flex-wrap: wrap;
  background-image: url("img/banner/b14.png");
  background-position: 20% 30%;
  background-color: #041e42;
  background-repeat: no-repeat;
  padding: 50px;
  &-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
  }
  &-content {
    font-size: 1.4rem;
    font-weight: 600;
    color: $secondary-color;
  }
  &-form {
    display: flex;
    width: 40%;
  }
  &-form input {
    height: 4rem;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &-form button {
    padding: 5px 18px;
    height: 4rem;
    background-color: $secondary-color;
    white-space: nowrap;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .newsletter {
    &-content {
      margin-bottom: 20px;
    }
    &-form {
      width: 100%;
    }
  }
}
